In [1]:
import random
import csv
from cinema_collection import LineCollection, Cinema
from customer import Customer
from binary_search_tree import BTree
from movie_collection import MovieCollection, Movie

# Testing for Customer data algorithm (Binary Search Tree)

##### Testing for insert Customer into Binary Search Tree

In [2]:
c0 = Customer('Nina', 'Nguyen','0450343022', 'Paypal', random.randint(1, 10))
tree = BTree(c0)
print(tree.key)

Nina Nguyen, phone: 0450343022, payment: Paypal, screen number: 5

In [3]:
print(tree.search(Customer('Nina', 'Nguyen', '', '',0)))
tree.delete(c0)

Nina Nguyen, phone: 0450343022, payment: Paypal, screen number: 5
Cannot delete root

In [4]:
# Checking for insert correct root item
print(tree.key)

Nina Nguyen, phone: 0450343022, payment: Paypal, screen number: 5

In [5]:
c1 = Customer('Jim', 'Tomkinson', '0450343234', 'Paypal', 5)
c2 = Customer('Richy', 'AAAAA', '13434343', 'Cash', 9)
c3 = Customer('Nina', 'Aguyen','0450343022', 'Paypal', 0)
c4 = Customer('Apple', 'Zruit','3243434334', 'Paypal', 6)
c5 = Customer('Apple', 'Nguyen','4324342', 'Paypal', 3)
c6 = Customer('Orange', 'Yran', '0450343234', 'Paypal', 1)
c7 = Customer('Hope', 'Pomkinson', '13438343', 'Cash', 7)
c8 = Customer('Gigi', 'Bguyen','0450342022', 'Paypal', 8)
c9 = Customer('Hadid', 'Bert','34234541454', 'Paypal', 2)
tree.insert(c1)
tree.insert(c2)
tree.insert(c3)
tree.insert(c4)
tree.insert(c5)
tree.insert(c6)
tree.insert(c7)
tree.insert(c8)
tree.insert(c9)

In [6]:
# print(tree.left_child)
# print(tree.right_child)
# print(tree.left_child.right_child)
# print(tree.left_child.right_child.right_child)

## Checking inserted binary search tree is correct by printing out
tree.display()

      _________________________________________________Nina Nguyen____________________
     /                                                                                \
Richy AAAAA_____                                                          ______Jim Tomkinson________________
                \                                                        /                                   \
           Nina Aguyen___________________________                 Hope Pomkinson                   _____Apple Zruit
                                                 \                                                /
                                      _____Apple Nguyen                                      Orange Yran
                                     /
                            ____Gigi Bguyen
                           /
                      Hadid Bert

##### Testing for search and Delete in Customer Binary Search Tree

In [7]:
# True case
print(tree.search(Customer('Jim','Tomkinson','','','')))

# False case
print(tree.search(Customer('Jimmmmm','AAAAA','','','')))

Jim Tomkinson, phone: 0450343234, payment: Paypal, screen number: 5
None

In [8]:
# This test case for search and delete exist customer
print('Search before ####')
print(tree.search(Customer('Nina','Aguyen','','','')))
tree.delete(c3)
print('Search after ####')
print(tree.search(Customer('Nina','Aguyen','','','')))

Search before ####
Nina Aguyen, phone: 0450343022, payment: Paypal, screen number: 0
Search after ####
None

In [9]:
# This test case for search and delete non exist customer
print('Search before ####')
print(tree.search(Customer('Nina','BBBBBB','','','')))
tree.delete(c3)
print('Search after ####')
print(tree.search(Customer('Nina','BBBBBB','','','')))

Search before ####
None
Search after ####
None

##### Testing for insert 1000 customers from a csv file has 1000 rows

In [10]:
c0 = Customer('Nina', 'Nguyen','0450343022', 'Paypal', 9)
# inital binary search tree with root
db_customer = BTree(c0)
# Db csv file with 1000 rows
with open('db.csv', newline='') as csv_file:
    reader = csv.reader(csv_file)
    next(reader, None)  # Skip the header.
    # Unpack the row directly in the head of the for loop.
    for fname, lname, phone, payment_method, screenNo in reader:
        # Convert the numbers to floats.
        fname = fname
        lname = lname
        phone = phone
        payment_method = payment_method
        screenNo = screenNo
        # Now create the Student instance and append it to the list.
        db_customer.insert(Customer(fname, lname, phone, payment_method, screenNo))

In [11]:
print(db_customer.key)
print(db_customer.left_child)
print(db_customer.left_child.left_child)
print(db_customer.right_child)
print(db_customer.right_child.right_child)

Nina Nguyen, phone: 0450343022, payment: Paypal, screen number: 9
Buck Josovitz, phone: 8099573339, payment: jcb, screen number: 1
Lanie Jenik, phone: 5761740692, payment: jcb, screen number: 9
Jayme Primrose, phone: 4906771247, payment: jcb, screen number: 4
Tito Whipple, phone: 6311814303, payment: maestro, screen number: 6

In [12]:
## Validate search exist customer
print(db_customer.search(Customer('Tito', 'Whipple', '','',0)))

Tito Whipple, phone: 6311814303, payment: maestro, screen number: 6

# Testing checking customer no of screen (Serving customer)

In [13]:
c1 = Customer('Jim', 'Tomkinson', '0450343234', 'Paypal', 5)
c2 = Customer('Richy', 'AAAAA', '13434343', 'Cash', 9)
c3 = Customer('Nina', 'Aguyen','0450343022', 'Paypal', 0)
c4 = Customer('Apple', 'Zruit','3243434334', 'Paypal', 6)
c5 = Customer('Apple', 'Nguyen','4324342', 'Paypal', 3)
c6 = Customer('Orange', 'Yran', '0450343234', 'Paypal', 1)
c7 = Customer('Hope', 'Pomkinson', '13438343', 'Cash', 7)
c8 = Customer('Gigi', 'Bguyen','0450342022', 'Paypal', 8)
c9 = Customer('Hadid', 'Bert','34234541454', 'Paypal', 9)

In [14]:
tree = BTree(c1)
tree.insert(c2)
tree.insert(c3)
tree.insert(c4)
tree.insert(c5)
tree.insert(c6)
tree.insert(c7)
tree.insert(c8)
tree.insert(c9)

In [15]:
# Test case for a free ticket
checking_customer_2 = Customer('Hadid', 'Bert', '', '', '')

cus_db = tree.search(checking_customer_2)
if cus_db.get_no_of_screen() == 9:
    print("Receive a free ticket")
else:
    print(f'Customer no of screen: {cus_db.get_no_of_screen()}')

Receive a free ticket

In [16]:
# test case for non-free ticket
checking_customer = Customer('Jim', 'Tomkinson', '', '', '')

cus = tree.search(checking_customer)
if cus.get_no_of_screen() == 9:
    print("Receive a free ticket")
else:
    print(f'Customer no of screen: {cus.get_no_of_screen()}')

Customer no of screen: 5

In [17]:
non_existed_cus = Customer('Justin', 'Beiber','7234541454', 'Paypal', 1)
print(tree.search(non_existed_cus))

print("AFTER INSERT. Seerch for customer information")
tree.insert(non_existed_cus)
print(tree.search(non_existed_cus))

None
AFTER INSERT. Seerch for customer information
Justin Beiber, phone: 7234541454, payment: Paypal, screen number: 1

# Testing for waiting line customer (QUEUE data structure)

#### Test case for insert waiting line with 9 customers

In [18]:
wc0 = Customer('Nina', 'Nguyen','0450343022', 'Paypal', 0)
wc1 = Customer('Jim', 'Tran', '0450343234', 'Paypal', 0)
wc2 = Customer('Richy', 'Tomkinson', '13434343', 'Cash', 0)
wc3 = Customer('Nina', 'NNguyen','0450343022', 'Paypal', 0)
wc4 = Customer('Coco', 'Tran','34234545454', 'Paypal', 0)
wc5 = Customer('Apple', 'Nguyen','4324342', 'Paypal', 0)
wc6 = Customer('Orange', 'Tran', '0450343234', 'Paypal', 0)
wc7 = Customer('Hope', 'Tomkinson', '13438343', 'Cash', 0)
wc8 = Customer('Gigi', 'NNguyen','0450342022', 'Paypal', 0)
wc9 = Customer('Hadid', 'Bert','34234541454', 'Paypal', 0)

In [19]:
# Checking line when line is empty
line = LineCollection()
line.isEmpty()

True

In [20]:
# Add a customer to Queue
wc0 = Customer('Nina', 'Nguyen','0450343022', 'Paypal', 0)
line.add_to_line(wc0)

In [21]:
# Test case: add a customer and dequeue that customer
# => Line should empty
customer_in_queue = line.pick_customer()
print(customer_in_queue)
line.isEmpty()

Nina Nguyen, phone: 0450343022, payment: Paypal, screen number: 0

True

In [22]:
# Add list of customers
# Dequeue all customers => Line should empty now
line.add_to_line(wc1)
line.add_to_line(wc2)
line.add_to_line(wc3)

print(line.pick_customer())
print(line.pick_customer())
print(line.pick_customer())

line.isEmpty()

Jim Tran, phone: 0450343234, payment: Paypal, screen number: 0
Richy Tomkinson, phone: 13434343, payment: Cash, screen number: 0
Nina NNguyen, phone: 0450343022, payment: Paypal, screen number: 0

True

In [23]:
print(line.isEmpty())
print(line.pick_customer())

True
None

In [24]:
# Add list of 9 customers
# Dequeue 8 customers => Line SHOULD NOT empty now

line3 = LineCollection()
line3.add_to_line(wc0)
line3.add_to_line(wc1)
line3.add_to_line(wc2)
line3.add_to_line(wc3)
line3.add_to_line(wc4)
line3.add_to_line(wc5)
line3.add_to_line(wc6)
line3.add_to_line(wc7)
line3.add_to_line(wc8)
line3.add_to_line(wc9)

In [25]:
# checking for line with 9 customers
print(len(line3.waiting_line.items))

# Checking for dequeue with correctly order FIFO
print(line3.pick_customer())
print(line3.pick_customer())
print(line3.pick_customer())
print(line3.pick_customer())
print(line3.pick_customer())
print(line3.pick_customer())
print(line3.pick_customer())
print(line3.pick_customer())
print(line3.pick_customer())

# checking for line with 1 customer
print(len(line3.waiting_line.items))
line3.isEmpty()

10
Nina Nguyen, phone: 0450343022, payment: Paypal, screen number: 0
Jim Tran, phone: 0450343234, payment: Paypal, screen number: 0
Richy Tomkinson, phone: 13434343, payment: Cash, screen number: 0
Nina NNguyen, phone: 0450343022, payment: Paypal, screen number: 0
Coco Tran, phone: 34234545454, payment: Paypal, screen number: 0
Apple Nguyen, phone: 4324342, payment: Paypal, screen number: 0
Orange Tran, phone: 0450343234, payment: Paypal, screen number: 0
Hope Tomkinson, phone: 13438343, payment: Cash, screen number: 0
Gigi NNguyen, phone: 0450342022, payment: Paypal, screen number: 0
1

False

### Testing for servicing customer. First come first serve strategy. With different no of customers in line (cinema capacity = 10)

##### Test case number of customers in line > cinema capacity

In [26]:
wc1 = Customer('Jim', 'Tran', '0450343234', 'Paypal', 0)
wc2 = Customer('Richy', 'Tomkinson', '13434343', 'Cash', 0)
wc3 = Customer('Nina', 'NNguyen','0450343022', 'Paypal', 0)
wc4 = Customer('Coco', 'Tran','34234545454', 'Paypal', 0)
wc5 = Customer('Apple', 'Nguyen','4324342', 'Paypal', 0)
wc6 = Customer('Orange', 'Tran', '0450343234', 'Paypal', 0)
wc7 = Customer('Hope', 'Tomkinson', '13438343', 'Cash', 0)
wc8 = Customer('Gigi', 'NNguyen','0450342022', 'Paypal', 0)
wc9 = Customer('Hadid', 'Bert','34234541454', 'Paypal', 0)
wc10 = Customer('Pep', 'Homkinson', '13438343', 'Cash', 0)
wc11 = Customer('Tin', 'Albetr','0450342022', 'Paypal', 0)
wc12 = Customer('Connor', 'Mc','34234541454', 'Paypal', 0)


line2 = LineCollection()
line2.add_to_line(wc1)
line2.add_to_line(wc2)
line2.add_to_line(wc3)
line2.add_to_line(wc4)
line2.add_to_line(wc5)
line2.add_to_line(wc6)
line2.add_to_line(wc7)
line2.add_to_line(wc8)
line2.add_to_line(wc9)
line2.add_to_line(wc10)
line2.add_to_line(wc11)
line2.add_to_line(wc12)

# Check customers in line => expected 12
len(line2.waiting_line.items)

12

In [27]:
# Servicing customers with cinema capacity
# Test case: capacity = 10. Receive 10 customer only
cinema = Cinema()

cinema.add_customer(line2)

for cus in cinema.seat:
    print(cus)

Jim Tran, phone: 0450343234, payment: Paypal, screen number: 0
Richy Tomkinson, phone: 13434343, payment: Cash, screen number: 0
Nina NNguyen, phone: 0450343022, payment: Paypal, screen number: 0
Coco Tran, phone: 34234545454, payment: Paypal, screen number: 0
Apple Nguyen, phone: 4324342, payment: Paypal, screen number: 0
Orange Tran, phone: 0450343234, payment: Paypal, screen number: 0
Hope Tomkinson, phone: 13438343, payment: Cash, screen number: 0
Gigi NNguyen, phone: 0450342022, payment: Paypal, screen number: 0
Hadid Bert, phone: 34234541454, payment: Paypal, screen number: 0
Pep Homkinson, phone: 13438343, payment: Cash, screen number: 0

In [28]:
# Check left customer in Line => expected 2
len(line2.waiting_line.items)

2

In [29]:
line2.isEmpty()

False

In [30]:
# Clear line
line2.clear_line()

line2.isEmpty()

True

##### Test case number of customers in line (15) > cinema capacity (10)

In [31]:
wc1 = Customer('Jim', 'Tran', '0450343234', 'Paypal', 0)
wc2 = Customer('Richy', 'Tomkinson', '13434343', 'Cash', 0)
wc3 = Customer('Nina', 'NNguyen','0450343022', 'Paypal', 0)
wc4 = Customer('Coco', 'Tran','34234545454', 'Paypal', 0)
wc5 = Customer('Apple', 'Nguyen','4324342', 'Paypal', 0)
wc6 = Customer('Orange', 'Tran', '0450343234', 'Paypal', 0)
wc7 = Customer('Hope', 'Tomkinson', '13438343', 'Cash', 0)
wc8 = Customer('Gigi', 'NNguyen','0450342022', 'Paypal', 0)
wc9 = Customer('Hadid', 'Bert','34234541454', 'Paypal', 0)
wc10 = Customer('Pep', 'Homkinson', '13438343', 'Cash', 0)
wc11 = Customer('Tin', 'Albetr','0450342022', 'Paypal', 0)
wc12 = Customer('Connor', 'Mc','34234541454', 'Paypal', 0)
wc13 = Customer('Pepsi', 'Test','34234541454', 'Paypal', 0)
wc14 = Customer('Tin', 'Albetr','0450342022', 'Paypal', 0)
wc15 = Customer('Connor', 'Mc','34234541454', 'Paypal', 0)

In [32]:
line4 = LineCollection()
line4.add_to_line(wc1)
line4.add_to_line(wc2)
line4.add_to_line(wc3)
line4.add_to_line(wc4)
line4.add_to_line(wc5)
line4.add_to_line(wc6)
line4.add_to_line(wc7)
line4.add_to_line(wc8)
line4.add_to_line(wc9)
line4.add_to_line(wc10)
line4.add_to_line(wc11)
line4.add_to_line(wc12)
line4.add_to_line(wc13)
line4.add_to_line(wc14)
line4.add_to_line(wc15)

In [33]:
# Servicing customers with cinema capacity
# Test case: capacity = 10. Receive 10 customers in line (15 customers)
cinema = Cinema()

cinema.add_customer(line4)

# Line should still have 5 customers left
len(line4.waiting_line.items)

5

In [34]:
print(len(line4.waiting_line.items))
print("AFTER clear waiting line")
line4.clear_line()
print(len(line4.waiting_line.items))

5
AFTER clear waiting line
0

##### Test case number of customers in line < cinema capacity

In [35]:
wc1 = Customer('Jim', 'Tran', '0450343234', 'Paypal', 0)
wc2 = Customer('Richy', 'Tomkinson', '13434343', 'Cash', 0)
wc3 = Customer('Nina', 'NNguyen','0450343022', 'Paypal', 0)

In [36]:
line3 = LineCollection()
line3.add_to_line(wc1)
line3.add_to_line(wc2)
line3.add_to_line(wc3)

In [37]:
# Servicing customers with cinema capacity
# Test case: capacity = 10. Receive all customers in line
cinema = Cinema()

cinema.add_customer(line3)

print(f'Line size: {len(line3.waiting_line.items)}')

Line size: 0

In [38]:
for cus in cinema.seat:
    print(cus)

Jim Tran, phone: 0450343234, payment: Paypal, screen number: 0
Richy Tomkinson, phone: 13434343, payment: Cash, screen number: 0
Nina NNguyen, phone: 0450343022, payment: Paypal, screen number: 0

# Testing for receive random movies (Stack)

In [39]:
movies = MovieCollection()
movies.receive_movie()

######## Waiting for too long for a new movie. So add a movie from favourite movie Titanic, duration: 200 ########

In [40]:
print(movies.display_movie())

Titanic, duration: 200

In [43]:
movies.receive_movie(1)

######## Receive a new movie #########

In [44]:
print(movies.display_movie())

Normal people, duration: 120